header{
    text-align: center;
}
body{
    background-color: rgb(165, 165, 156); 
}
h2{
    text-decoration: underline;
}
img{
    height: 250px;
}
footer{
    text-align: center;
    background-color: rgb(82, 80, 77);
    padding: 0.5px;
    color: aliceblue;
}